html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img {
  max-width: 100%; }

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; }

body {
  margin: 0 0.809rem;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 25.888px);
  background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 25.888px);
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 25.888px);
  background-size: 100% 25.888px;
  background-position: 0 0; }
  @media all and (min-width: 600px) {
    body {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 29.124px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 29.124px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 29.124px);
      background-size: 100% 29.124px; } }
  @media all and (min-width: 900px) {
    body {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 32.36px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 32.36px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 32.36px);
      background-size: 100% 32.36px; } }
  @media all and (min-width: 1200px) {
    body {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 35.596px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 35.596px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 35.596px);
      background-size: 100% 35.596px; } }
  @media all and (min-width: 1800px) {
    body {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 38.832px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 38.832px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 38.832px);
      background-size: 100% 38.832px; } }

html {
  font-size: 100%;
  line-height: 1.618; }
  @media all and (min-width: 37.5em) {
    html {
      font-size: 112.5%;
      line-height: 1.618; } }
  @media all and (min-width: 56.25em) {
    html {
      font-size: 125%;
      line-height: 1.618; } }
  @media all and (min-width: 75em) {
    html {
      font-size: 137.5%;
      line-height: 1.618; } }
  @media all and (min-width: 112.5em) {
    html {
      font-size: 150%;
      line-height: 1.618; } }

h1 {
  font-size: 1.728rem;
  line-height: 1.618rem;
  background: lightblue; }
  @media all and (min-width: 37.5em) {
    h1 {
      font-size: 1.728rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 56.25em) {
    h1 {
      font-size: 1.728rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 75em) {
    h1 {
      font-size: 1.728rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 112.5em) {
    h1 {
      font-size: 1.728rem;
      line-height: 1.618rem; } }

h2 {
  font-size: 1.44rem;
  line-height: 1.618rem;
  background: lightgoldenrodyellow; }
  @media all and (min-width: 37.5em) {
    h2 {
      font-size: 1.44rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 56.25em) {
    h2 {
      font-size: 1.44rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 75em) {
    h2 {
      font-size: 1.44rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 112.5em) {
    h2 {
      font-size: 1.44rem;
      line-height: 1.618rem; } }

h3 {
  font-size: 1.2rem;
  line-height: 1.618rem;
  background: lightcoral; }
  @media all and (min-width: 37.5em) {
    h3 {
      font-size: 1.2rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 56.25em) {
    h3 {
      font-size: 1.2rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 75em) {
    h3 {
      font-size: 1.2rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 112.5em) {
    h3 {
      font-size: 1.2rem;
      line-height: 1.618rem; } }

h4 {
  font-size: 0.83333rem;
  line-height: 1.618rem; }
  @media all and (min-width: 37.5em) {
    h4 {
      font-size: 0.83333rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 56.25em) {
    h4 {
      font-size: 0.83333rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 75em) {
    h4 {
      font-size: 0.83333rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 112.5em) {
    h4 {
      font-size: 0.83333rem;
      line-height: 1.618rem; } }

h5 {
  font-size: 0.69444rem;
  line-height: 1.618rem; }
  @media all and (min-width: 37.5em) {
    h5 {
      font-size: 0.69444rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 56.25em) {
    h5 {
      font-size: 0.69444rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 75em) {
    h5 {
      font-size: 0.69444rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 112.5em) {
    h5 {
      font-size: 0.69444rem;
      line-height: 1.618rem; } }

h6 {
  font-size: 0.5787rem;
  line-height: 1.618rem; }
  @media all and (min-width: 37.5em) {
    h6 {
      font-size: 0.5787rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 56.25em) {
    h6 {
      font-size: 0.5787rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 75em) {
    h6 {
      font-size: 0.5787rem;
      line-height: 1.618rem; } }
  @media all and (min-width: 112.5em) {
    h6 {
      font-size: 0.5787rem;
      line-height: 1.618rem; } }

.baseline-grid-debug {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 25.888px);
  background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 25.888px);
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 25.888px);
  background-size: 100% 25.888px;
  background-position: 0 0; }
  @media all and (min-width: 600px) {
    .baseline-grid-debug {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 29.124px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 29.124px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 29.124px);
      background-size: 100% 29.124px; } }
  @media all and (min-width: 900px) {
    .baseline-grid-debug {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 32.36px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 32.36px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 32.36px);
      background-size: 100% 32.36px; } }
  @media all and (min-width: 1200px) {
    .baseline-grid-debug {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 35.596px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 35.596px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 35.596px);
      background-size: 100% 35.596px; } }
  @media all and (min-width: 1800px) {
    .baseline-grid-debug {
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 38.832px);
      background-image: -o-linear-gradient(top, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 38.832px);
      background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.25) 1px, transparent 0, transparent 38.832px);
      background-size: 100% 38.832px; } }
